/*Estilos para Ipad Air*/
.main-title{
	margin: 20% auto 0 7% !important;
}

.main-subtitle{
	margin: 1% auto 0 7%;
}

#start-btn{
	margin: 2% auto auto 7%;
}

/*Barra de precios*/
.money-content{
	width: 10.7%;
}

.price-bar {
	height: 10%;
}

/*Nosotros*/
.section-title{
	top: 37%;
	margin-top: 0;
}

.nosotros-description{
	top: 47%;
}

.clored-blue{
	height: 100%;
	padding-bottom: 20px;
}

.right-side-content{
	height: 100%;
	padding-bottom: 20px;
}