/*Estilos para Iphone X horizontal (812px de ancho X 375px de alto)*/
.main-title{
	font-size: 2em;
	margin:15% auto auto 7% !important;
}

.left-side-content{
	height: 100%;
}

.section-title{
	top: 30%;
	font-size: 1.7em;
}

.nosotros-description{
	top: 45%;
	text-align: center;
}

#video{
	width: 100%;
	height: 375px;
	margin: 0;
}

.circle-icon{
	width: 20%;
}

.servicios-description{
	text-align: center;
}

#footer{
	height: 12%;
}