/*Estilos principales*/
@font-face{
	font-family: 'Social Circles';
    src: url('Social Circles v1.1.otf');
    src: local('Social Circles v1.1'),
         url('Social Circles v1.1.otf') format('OpenType'),
         url('Social Circles v1.1.otf') format('opentype');
}

html{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-decoration: none;
	box-sizing: border-box;
}

/*Landing Page*/
.landing{
	width: 100%;
	max-width: 100%;
	height: 100vh;
	background-image: url(../img/image.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	overflow: hidden;
}
/*Menu*/
.main-menu{
	width: 100%;
	height: 72px;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	margin: 0;
	z-index: 99999;
}

.main-menu ul{
	margin: 0;
	float: right;
}

.menu-icon{
	width: 20px;
	margin-right: 8px;
}

.main-menu ul li{
	color: #FFF;
	font-size: 1.2em;
	list-style: none;
	display: inline-block;
	font-weight: 300;
	margin: 0 20px;
	line-height: 72px;
}

.styless-btn{
	text-decoration: none;
	color: #FFF;
	transition: all 0.35s;
}

.styless-btn:hover{
	color:#00b6b2;
}

.colored-blue{
	color: #fff !important;
	background-color: rgb(0,130,130) !important;
	margin-right: 20px;
}

/*Barra de precio*/
.price-bar{
	position: absolute;
	bottom: 0;
	width: 90%;
	margin: 0 5%;
	height: 12%;
	border-top: 1px solid rgba(249,249,249,.5);
}

.price{
	display: inline-block;
	clear: both;
	margin:0;
	padding: 0;
	width: 100%;
}

.money-content{
	width: 10.8%;
	display: inline-block;
	line-height: 0.1em;
}

.money-title{
	color: #00b6b2;
	font-size: 1em;
	text-align: center;
	display: block;
	margin: 8px auto;
	min-width: 50px;
}

.value-price{
	color: #FFF;
	text-align: center;
	line-height: 0.5em;
}

/*Logotipo Menu*/
.logo-container{
	height: 60px;
	width: auto;
	overflow: hidden;
	float: left;
	margin: 8px 20px 4px 20px;
}

.logo-menu{
	width: 100%;
	height: auto;
}

/*Titulo principal de Landing Page*/
.main-title{
	text-transform: uppercase;
	font-weight: 600;
	color: #FFF;
	font-size: 2.5em;
	margin: 15% auto auto 5%; 
	line-height: 1.2em;
}

.main-subtitle{
	font-weight: 100;
	color: #FFF;
	font-size: 1.5em;
	margin: 1% auto auto 5%;
}

#start-btn{
	margin: 2% auto auto 5%; 
}

/*Nosotros*/
.nosotros{
	width: 100%;
	height: auto;
	position: relative;
}

/*Video Background*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*Contenido de seccion Nosotros*/
.section-title{
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	font-weight: 300;
	position: absolute;
	top: 30%;
	z-index: 888888;
}

.left-side-content{
	width: 50%;
	height: 100%;
	float: left;
	margin: 0;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	top: 0;
	z-index: 8888;
}

.nosotros-description{
	width: 80%;
	font-size: 1em;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin: 5% 10% auto 10%;
	position: absolute;
	top: 40%;
}

/*Servicios*/
.servicios{
	width: 100%;
	height: 100vh;
	position: relative;
}

.right-side-content{
	width: 50%;
	height: 100%;
	float: right;
	margin: 0;
	background-color: rgba(0,0,0,.7);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 8889;
	background: rgba(45,45,45,1);
	background: -moz-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(65,74,81,1) 35%, rgba(65,74,81,1) 63%, rgba(45,45,45,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,45,45,1)), color-stop(35%, rgba(65,74,81,1)), color-stop(63%, rgba(65,74,81,1)), color-stop(100%, rgba(45,45,45,1)));
	background: -webkit-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(65,74,81,1) 35%, rgba(65,74,81,1) 63%, rgba(45,45,45,1) 100%);
	background: -o-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(65,74,81,1) 35%, rgba(65,74,81,1) 63%, rgba(45,45,45,1) 100%);
	background: -ms-linear-gradient(top, rgba(45,45,45,1) 0%, rgba(65,74,81,1) 35%, rgba(65,74,81,1) 63%, rgba(45,45,45,1) 100%);
	background: linear-gradient(to bottom, rgba(45,45,45,1) 0%, rgba(65,74,81,1) 35%, rgba(65,74,81,1) 63%, rgba(45,45,45,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#2d2d2d', GradientType=0 );
}

.left-side-content.clored-blue{
	background: rgba(0,130,130,1);
	background: -moz-linear-gradient(top, rgba(0,130,130,1) 0%, rgba(0,182,179,1) 35%, rgba(0,182,179,1) 63%, rgba(0,130,130,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,130,130,1)), color-stop(35%, rgba(0,182,179,1)), color-stop(63%, rgba(0,182,179,1)), color-stop(100%, rgba(0,130,130,1)));
	background: -webkit-linear-gradient(top, rgba(0,130,130,1) 0%, rgba(0,182,179,1) 35%, rgba(0,182,179,1) 63%, rgba(0,130,130,1) 100%);
	background: -o-linear-gradient(top, rgba(0,130,130,1) 0%, rgba(0,182,179,1) 35%, rgba(0,182,179,1) 63%, rgba(0,130,130,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,130,130,1) 0%, rgba(0,182,179,1) 35%, rgba(0,182,179,1) 63%, rgba(0,130,130,1) 100%);
	background: linear-gradient(to bottom, rgba(0,130,130,1) 0%, rgba(0,182,179,1) 35%, rgba(0,182,179,1) 63%, rgba(0,130,130,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008282', endColorstr='#008282', GradientType=0 );
}

.circle-icon{
	display: block;
	margin: 20% auto 0 auto;
}

.subsection-titlue{
	color: #FFF;
	font-size: 2em;
	font-weight: 500;
	width: 100%;
	text-align: center;
	margin-top: 3.5%;
}

.servicios-description{
	width: 70%;
	color: #FFF;
	text-align: center;
	font-size: 1em;
	font-weight: 100;
	margin: 5% 15% auto 15%;
	position: relative;
}

/*Contacto*/
.contacto{
	width: 100%;
	height: 100vh;
	background-image: url(../img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.footer{
	position: absolute;
	width: 100%;
	height: 7%;
	bottom: 0;
	border-top: 1px solid rgba(249,249,249,.5);
	overflow: hidden;
}

.social-icon{
	display: block;
	float: left;
	width: 33.33%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.social-row{
	display: block;
	margin:0 20px;
	padding: 0;
}

li.social-circle{
	display: inline-block;
	font-family: 'Social Circles';
	font-size: 3em;
	text-align: center;
	margin: 0 1%;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.social-circle span{
	padding: 0;
	margin: 0;
	line-height: 1.2em;
}

.social-link{
	color: #FFF;
	transition: all 0.35s;
}

.social-link:hover{
	color: #00b6b2;
}

.rights{
	float: left;
}

.copy{
	color: #FFF;
	text-align: center;
	font-weight: 100;
	font-size: 1em;
	line-height: 2em;
	margin: 10px auto;
}

.atributions{
	float: right;
}

.link-atribution{
	color: #FFF;
	text-align: right;
	font-weight: 100;
	font-size: 1em;
	line-height: 2em;
	margin: 10px 20px;
}

.maingroup-link{
	color: #fff;
	text-decoration: none;
	transition: all .35s;
}

.maingroup-link:hover{
	color: #8cc541;
}

/*Toggle Menu*/
/*Menu vertical*/

.vertical-menu{
	height: 100%;
	width: 70%;
	background-color: rgba(0,0,0,.7);
}

.vertical-btn{
	display: block !important;
	width: 100%;
	margin: 0 !important;
}

.vertical-btn a {
	text-align: center !important;
	display: block;
}

.small-btn{
	display: block !important;
	margin: auto !important;
}