/*Estilos para dispositivos con resoluciones mayores a 501px a 767px*/
.landing{
	background-position: 70%;
}

.main-title{
	font-size: 2.7em;
	margin: 45% auto auto auto;
	text-align: center;
}

.main-subtitle{
	font-size: 1.7em;
	margin: 1% auto auto auto;
	text-align: center;
}

#start-btn{
	margin: 5% auto auto auto;
	display: block;
}


.price-bar{
	height: 25%;
}

.money-content{
	width: 23.8%;
    font-size: .8em;
}

.value-price{
	font-size: 1em;
	margin: 0;
}

.money-content:last-child{
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}

/*Seccion Nosotros*/
.left-side-content{
	width: 100%;
}

.section-title{
	top: 7%;
	line-height: 1.3em;
	font-size: 1.7em;
	width: 80%;
	margin: 10%;
}

.nosotros-description{
	text-align: center;
	width: 80%;
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0 10% auto 10%;
	top: 32%;
}

#video{
	right: 0;
}

/*Seccion Servicios*/
.clored-blue{
	width: 100%;
	clear: both;
	position: relative;
	min-height: 100%;
	height: auto;
}

.right-side-content{
	width: 100%;
	clear: both;
	position: relative;
	min-height: 100%;
	height: auto;
}

.circle-icon{
	width: 25%;
	height: auto;
}

.subsection-titlue{
	line-height: 1.3em;
	font-size: 1.7em;
	width: 80%;
	display: block;
	margin: 5% auto;
}

.servicios-description{
	width: 80%;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    margin: 5% auto auto auto;
    position: relative;
    line-height: 1.2em;
    padding-bottom: 20%;
}

/*Seccion contacto*/
.contacto{
	background: url('../img/contact-bg-phone.jpg');
	background-size: cover;
	background-position: center;
	clear: both;
}

#footer{
	height: 25%;
}

.social-icon{
	width: 100%;
	clear: both;
	height: auto;
}

.social-row{
	width: 140px;
	display: block;
	margin: 0 auto;
}

li.social-circle{
	font-size: 2.91em;
}

.atributions{
	clear: both;
}

.link-atribution{
	text-align: center;
}